<div class="row">
  <div class="large-10 columns">
    <div class="row">
        <h3>Welcome to the home of power tool drag racing!</h3>
    </div>
    <div class="row">
      <ul class="example-orbit" data-orbit>
        <li>
          <%= image_tag("IMG_3397.JPG", alt:"Power Tool Drag Racing") %>
          <div class="orbit-caption">
            Setting up the racers in the Staging area.
          </div>
        </li>
        <li class="active">
          <%= image_tag("IMG_1987.JPG", alt:"Power Tool Drag Racing!") %>
          <div class="orbit-caption">
            The Plywood "quarter mile"
          </div>
        </li>
        <li>
          <%= image_tag("IMG_1988.JPG", alt:"Power Tool Drag Racing!") %>
          <div class="orbit-caption">
            Vlad the Impaler
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

