<% content_for :title do %>About<% end %>
<div class="row">
  <div class="large-10 columns">
    <div class="row">
        <h3>Power Tool Drag Racing</h3>
        <h4>Vehicles</h4>
          <p>Eligible machines are single engine power tools with limited motor and gearing modifications. Power sources
          must be stock 110V provided for the tool. See rules for additional information.</p>
        <h4>The Track</h4>
          <p>
            The drag strip is 75' of reasonably flat plywood track. There will be another 20' or so to slow down with added
            semisoft material (typically car tires) to help with the deceleration of the faster entries. Racers will run on
            parallel wood tracks 1' wide with 2" X 4" rails on either side. We will make every effort to maintain the straightness
            and accuracy of this track, but expect some variation and bumps at the joints.
          </p>
        <h4>
          Prizes!
        </h4>
        <p>
          Ryobi Power tool set for best overall winner.
        </p>
        <h4>2015 Race Days</h4>
        <p>
      <ul class="accordion" data-accordion>
        <li class="accordion-navigation">
          <a href="#panel1a">Detroit</a>
          <div id="panel1a" class="content">
            <ul class="no-bullet">
              <li>This is the 2nd Tool Race to be held at the Detroit Maker Faire.
              <li>When: July 25-26th, 2015 @ 9:30am - 6pm
              <li>Where: The Henry Ford Museum
              <li>Race Times: Official races start at 2pm
            </ul>
        </li>
        <li class="accordion-navigation">
          <a href="#panel2a">Cincinnati</a>
          <div id="panel2a" class="content active">
            <ul class="no-bullet">
              <li>This is the 3rd Tool Race to be held at the Cincinnati Maker Faire.</li>
              <li>When: August 29-30th, 2015 @ 10am - 6pm</li>
              <li>Where: Cincinnati Museum Center at Union Terminal</li>
              <li>Race Times: Official races start at 2pm</li>
              <li>Register a Racer: $25/racer (Register at the Event)</li>
            </ul>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel3a">Louisville</a>
          <div id="panel3a" class="content">
            <ul class="no-bullet">
              <li>This is the 3rd Tool Race to be held at the Louisville Maker Faire.</li>
              <li>When: September 19th, 2015 @ 11am - 6pm</li>
              <li>Where: 700-800 Block of West Main Street</li>
              <li>Race Times: Official races start at 2pm</li>
              <li>Register a Racer: $25/racer <%= link_to("Register here", "http://www.eventbrite.com/e/tool-racer-registration-louisville-2015-tickets-17347508866") %></li>
            </ul>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel4a">New York City</a>
          <div id="panel4a" class="content">
            <ul class="no-bullet">
              <li>Information about the NYC event coming soon.</li>
            </ul>
          </div>
        </li>
        <li class="accordion-navigation">
          <a href="#panel5a">Columbus</a>
          <div id="panel5a" class="content">
            <ul class="no-bullet">
              <li>This is the 7th Tool Race to be held in Columbus and the 4th time as part of the Columbus Mini Maker Faire.</li>
              <li>When: SPRING 2016</li>
              <li>Where: TBD </li>
              <li>Race Times: TBD</li>
            </ul>
          </div>
        </li>
      </ul>

        </p>

        <h4>Rules</h4>
        <p>Machines are to be based on handheld power tools. A handheld power tool is a machine intended for handheld operation
          by one individual. A machine primarily used on a stationary mount, or rolled on wheels, or used by a group of
          people is not a hand tool for the purposes of this event. This event is limited to hand tools powered by standard
          20 amp 120 AC electric power cords. Examples of hand tools are machines like belt sanders, angle grinders,
          circular saws, drills, chainsaws, weed wackers, vibrators, etc. Examples of things that are NOT hand tools are
          things like lawnmowers, floor sanders, generators, bench grinders, etc. No vehicles built from RC cars allowed,
          because they are boring.</p>
        <p>AC electrical cords will be 100' long per lane, originating at the starting line. They will have standard Edison
          3-prong connectors. You will be responsible for "coiling" the cord on the ground or laying it alongside the track
          for your run. No spools or cord guides allowed, but duct tape will be provided so you can tape the connector together.
          Tangles or poor cord feed is your responsibility.</p>
      <p>Eligible machines are single engine power tools with no motor modifications or non-standard power sources (i.e.
        engine and power source needs to be box stock). Propulsion can be direct drive to track via the original blades,
        belts, etc, or via a custom gear/chain/tire configurations. Frames, wheels, guide rails, etc can be added as desired.
        Any motor or power type is allowed. But all "motors" must have originated in a hand power tool and be in their
        original form, with original power source driving it.</p>
      <p>Due to the nature of the event these machines can be very fast and very dangerous. ALL entries for any class
        MUST REGISTER their machine and be inspected prior to racing to make sure they will stay on the track and out of
        the audience. We also reserve the right to say "no, unsafe" at any time for whatever reason(s) we find relevant.</p>

    </div>
  </div>
</div>

