<% content_for :title do %>Contact<% end %>

<div class="row">
  <div class="large-10 columns">
    <div class="row">
      <h4>Questions about the Cincinnati Maker Space – HIVE13, please visit:</h4>
      <%= link_to('hive13.org', 'http://www.hive13.org') %>


      <h4>Questions about the Louisville Maker Space – LVL1, please visit:</h4>
      <%= link_to('lvl1.org', 'http://www.LVL1.org') %>
    </div>
  </div>
</div>