<% content_for :title do %>Previous Winners<% end %>

<div class="row">
  <div class="large-10 columns">
    <div class="row">
      <h4>2011 Winners</h4>
      <ul class="no-bullet">
        <li>Champion:  Jim B - The Silver Streak</li>
        <li>Most Creative: Levi &amp; Dylan - The Scorpion</li>
        <li>Best Wreck: Jay - The Reaver</li>
      </ul>
      <h4>2010 Winners</h4>
      <ul class="no-bullet">
        <li>Champion: TJ - Power Rod (AKA The Pig)</li>
        <li>Most Creative: Robert - United We Sand</li>
        <li>Best Wreck: Jay - The Reaver</li>
    </ul>
      <h4>2009 Winners</h4>
        <ul class="no-bullet">
          <li>Chamption: TJ - Power Rod (AKA THe Pig)</li>
        </ul>
        </div>
      </div>
    </div>
